<h1>Značky</h1>
<% @car_brands.each do |cb| %>
	<p><%= cb.name %></p><span><%= link_to 'upravit', edit_car_brand_path(cb) %></span> | <span><%= link_to 'delete', car_brand_path(cb), method: 'delete', data: {confirm: 'ste si isty?'} %></span><hr/>
<% end %>
<p><%=  link_to 'pridat znacku', new_car_brand_path %></p>
